/* This is a css comment */
body {
    color: rgb(75, 21, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
}

article {
    color: rgb(66, 151, 242);
    padding: 70px;
    border: 10px solid rgb(241, 192, 102);
}

h1 {
    font-size: 60px;
    color: rgb(96, 132, 239);
}

h2 {
    color:rgb(0, 139, 170);
}

.bread-img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
 

blockquote {
    font-weight: bold;
}

main article .par {
    color: rgb(245, 165, 5);
}

footer {
    background-color: rgb(153, 236, 236);
}

.p1 {
    background-color: rgb(225, 222, 18);
}

.list {
    border: 2px solid rgb(248, 174, 64);
}

#jump-button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(97, 172, 238);
    padding: 10px 16px; 
}

ol li {
    list-style: square;
}

.merchandise ul .list li {
    list-style: square;
}

.merchandise .list li:nth-child(2){
    font-weight: bolder;
    background-color: bisque;
}

nav ul li a {
    color: rgb(118, 118, 236);
    background-color: lightgrey;
}

nav ul li a:hover {
    color: white;
    background-color: black;
}